@import url(../Block/styles.module.scss);

.container {
    width: 1040px;
    margin: 0 auto;
    background: #C4C4C4;
    border-radius: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    .blocksWrapper {
        width: calc(172px * 3 + 60px);
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
    }
}