.blockWrapper {
    width: 142px;
    height: 142px;
    background: #FDF9F9;
    border-radius: 6px;

    .blockTitle{
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;

        color: #0B1933;
    }
}