$blockWidth: 215px;

a {
    text-decoration: none;
}

@mixin blockRows {
    margin-top: 20px;
    background: #C4C4C4;
    border-radius: 8px;
    padding: 0px 4px;
    font-size: 1rem;
    text-align: center;
    overflow: hidden;
    // text-overflow: ellipsis;
}

.blockWrapper {
    min-width: $blockWidth;
    max-width: $blockWidth;
    height: fit-content;
    background: #FDF9F9;
    border-radius: 10px;
    border: 1px solid rgb(229, 232, 235);
    margin: 10px;

    .innerWrapper {
        padding: 8px;


        .blockTitle {
            font-style: normal;
            font-weight: normal;
            font-size: 1.3rem;
            line-height: 16px;
            text-align: center;
            text-decoration: none;
    
            // color: #0B1933;

            a {
                text-decoration: none;
                color: #3498db;
            }
            a:hover {
                color: #1d6fa5;
            }
        }
    
        .blockNonce {
            @include blockRows();
        }
        .prevHash {
            @include blockRows();
        }
        .hash {
            @include blockRows();
        }
        .transactionsRow {
            @include blockRows();

            // border-radius: 2px;
            // padding: 2px 6px;
            // border: 2px solid #0B1933;
            // cursor: pointer;
            // text-decoration: none;

            &:hover {
                // background-color: #444;
                color: #1d6fa5;
            }
        }
    }
    
    
    
    // :hover {
    //     box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
    //     transition: all 0.1s ease 0s;
    //     border-radius: 10px;
    // }
}
